.text-primary {
  color: #6676a2 !important;
}

.bg-primary {
  background-color: #6676a2 !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-banner {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn-banner span {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin-right: 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.btn-banner span::before {
  content: "";
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 50%;
  right: -5px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.btn-banner:hover span {
  width: 100px;
}

header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

header .navbar-toggler span {
  width: 35px;
  height: 3px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
}

header .navbar-collapse.show {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #6676a2;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6676a2;
  opacity: 0.3;
}

header .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

header .nav-link .call-btn {
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner-section {
  position: relative;
  height: 100vh;
}

header .banner-section .banner-icon {
  position: absolute;
  z-index: 5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .banner-section .banner-icon ul {
  list-style: none;
  margin-bottom: 0;
}

header .banner-section .banner-icon ul a {
  color: #ffffff;
}

header .banner-section .banner-text {
  position: absolute;
  left: 10%;
  top: 0;
  width: 100%;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

header .banner-section .banner-text h1 {
  font-size: 35px;
}

.banner-text-slider {
  -webkit-transform: translate(0, 32%);
          transform: translate(0, 32%);
  bottom: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.swiper-container {
  width: auto;
  height: 100vh;
}

.arrow {
  position: absolute;
  top: 55%;
  z-index: 9;
}

.arrow span {
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow i {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin: 0 auto;
  transition: 0.4s ease;
}

.arrow i::before {
  content: "";
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 50%;
  right: -3px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.arrow.swiper-button-p {
  left: 4%;
}

.arrow.swiper-button-p i {
  right: -15px;
}

.arrow.swiper-button-p i::before {
  content: "";
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 50%;
  left: -3px;
  -webkit-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
}

.arrow.swiper-button-p:hover i {
  right: 0px;
}

.arrow.swiper-button-n {
  right: 4%;
}

.arrow.swiper-button-n i {
  left: -15px;
}

.arrow.swiper-button-n:hover i {
  left: 0px;
}

.padding-bottom {
  padding-bottom: 80px;
}

.section-padding {
  padding-top: 80px;
}

.section-padding.step-section {
  background-color: #111111;
}

.section-padding.about-section {
  background-image: url(/assets/top.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-padding.discount-section {
  background-image: url(/assets/military-discount/background.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-padding.testimonial-section {
  background-image: url(/assets/testimonials.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-section {
  margin-bottom: 40px;
}

.heading-section .title {
  color: #6676a2;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.heading-section .title .title-t {
  font-size: 20px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 10px;
}

.heading-section p {
  font-size: 16px;
  color: #111111;
  font-weight: 500;
}

.step-box-container {
  padding-top: 50px;
}

.step-box-container .step-box {
  position: relative;
  z-index: 1;
  padding: 0 15px;
}

.step-box-container .step-box span {
  position: absolute;
  font-size: 130px;
  color: #666666;
  top: 9px;
  left: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 800;
  z-index: -1;
  line-height: 0;
}

.step-box-container .step-box .title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  padding: 0px 0 20px 15px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.list-style li {
  font-size: 20px;
  color: #6676a2;
  padding: 15px 0;
  margin: 10px 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border: 5px solid #ffffff;
  cursor: pointer;
}

.list-style li:hover {
  border: 5px solid #6676a2;
  font-weight: 600;
  color: #111111;
  -webkit-box-shadow: 0 0 7px 0px #6676a2;
          box-shadow: 0 0 7px 0px #6676a2;
}

#service-slider {
  position: relative;
  padding-top: 80px;
}

#service-slider .box-container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#service-slider .box-container .text-box .title {
  font-size: 25px;
  font-weight: 700;
}

#service-slider .box-container .text-box p {
  font-size: 16px;
}

#service-slider .owl-nav {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 58.4%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#service-slider .owl-nav button {
  width: 30px;
  height: 30px;
  background-color: #6676a2;
  color: #fff;
  opacity: 1;
  border-radius: 0;
  margin: 1px 10px;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.img-box {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.img-box .img-text {
  position: absolute;
  background-color: #1111117a;
  top: 150%;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.img-box:hover .img-text {
  top: 0;
}

.pricing-container {
  font-size: 16px;
  border: 5px solid #ffffff;
  outline: 1px solid #6676a23b;
  margin: 10px 2px;
  position: relative;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.pricing-container:hover {
  border: 5px solid #6676a2;
}

.pricing-container .price {
  font-size: 30px;
  font-weight: bold;
  margin-top: -6px;
  background: #6676a2;
  color: #ffffff;
  padding: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pricing-container ul li {
  padding-bottom: 10px;
}

.pricing-container ul li:last-child {
  padding-bottom: 0;
}

#pricing .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pricing .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: #6676a2;
  color: #ffffff;
  opacity: 1;
  border-radius: 0;
}

#pricing .owl-nav button:focus {
  outline: none;
}

#pricing .owl-nav button.owl-prev {
  margin-left: -45px;
}

#pricing .owl-nav button.owl-next {
  margin-right: -45px;
}

.testimonial-section .owl-carousel .owl-item img {
  display: block;
  width: auto;
}

.testimonial-section .owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.testimonial-section .owl-theme .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: #6676a2;
  color: #ffffff;
  opacity: 1;
  border-radius: 0;
  margin: 0;
}

.testimonial-section .owl-theme .owl-nav button:focus {
  outline: none;
}

.testimonial-section .owl-theme .owl-nav button.owl-prev {
  margin-right: 50px;
}

.testimonial-section .item {
  background-color: #f4f7ff;
  -webkit-box-shadow: 5px 7px 13px 0px #0000001f;
          box-shadow: 5px 7px 13px 0px #0000001f;
  margin: 20px;
}

.testimonial-section .testimonial-container {
  position: relative;
  z-index: 1;
}

.testimonial-section .testimonial-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-container .card-img,
.blog-container .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.blog-container .card {
  border-radius: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 1px solid #00000018;
}

.blog-container .card:hover {
  -webkit-box-shadow: 5px 7px 13px 0px #0000001f;
          box-shadow: 5px 7px 13px 0px #0000001f;
}

.blog-container .card .date {
  color: #666666;
}

.service-box .col {
  border-right: 1px solid #6676a24a;
}

.service-box .col:last-child {
  border-right: 0;
}

.form-section .form-control {
  border: 0;
  border-bottom: 2px solid #ced4da;
  border-radius: 0;
}

.form-section .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-bg {
  background-image: url(/assets/footer-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #666666;
  font-weight: 500;
}

.footer-bg p {
  margin-bottom: 0;
}

.footer-bg .newsletter {
  padding: 20px 35px;
  border: 1px solid #fff;
  margin: 40px 0;
}

.footer-bg .newsletter p {
  color: #666666;
  font-weight: 500;
}

.footer-bg .newsletter .form-control {
  background-color: transparent;
}

.footer-bg .newsletter .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-bg .footer-icon ul, .footer-bg .footer-link ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-bg .footer-icon ul li, .footer-bg .footer-link ul li {
  padding: 0 10px;
}

.footer-bg .footer-icon ul li a, .footer-bg .footer-link ul li a {
  color: #666666;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.footer-bg .footer-icon ul li a:hover, .footer-bg .footer-link ul li a:hover {
  color: #ffffff;
}

.footer-bg .footer-link {
  line-height: 0.9;
}

.footer-bg .footer-link li {
  border-right: 1px solid #666666;
}

.footer-bg .footer-link li:last-child {
  border-right: 0px solid #666666;
}

.footer-bg .copyright {
  padding: 15px 0;
  border-top: 1px solid #666666;
}

@media (max-width: 1199.98px) {
  .navbar-brand {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-toggler {
    text-decoration: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  div#navbarSupportedContent {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .step-box-container .step-box {
    padding: 0;
    margin: 40px 0 0 0;
  }
  .step-box-container .row .col-md-4:first-child .step-box {
    margin: 0;
  }
  .section-padding {
    padding-top: 60px;
  }
  .padding-bottom {
    padding-bottom: 60px;
  }
  .list-style li {
    font-size: 18px;
    padding: 10px 0;
  }
  #service-slider .box-container .text-box {
    padding: 20px 20px;
  }
  #service-slider .owl-nav {
    bottom: -5%;
    left: 50%;
  }
  .heading-section .title {
    font-size: 30px;
  }
  .heading-section .title .title-t {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .navbar-brand img {
    width: 150px;
  }
  header .banner-section {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    width: auto;
    height: 100%;
  }
  header {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .banner-text-slider {
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */