$primary: #6676a2;
$dark: #111111;
$gray: #666666;
$white: #ffffff;

$font-family: "Poppins", sans-serif;
$size-1: 35px;
.text-primary {
    color: $primary !important;
}
.bg-primary{
    background-color: $primary !important;
    transition: 0.4s ease;
}
body {
    font-family: $font-family;
    background-color: $white;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transition: 0.4s ease;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.btn-banner {
    position: relative;
    align-items: center;
    font-weight: 500;
    display: inline-flex;

    span {
        position: relative;
        width: 40px;
        height: 2px;
        background-color: $white;
        display: block;
        margin-right: 20px;
        transition: 0.4s ease;

        &::before {
            content: "";
            width: 0px;
            position: absolute;
            height: 0px;
            border-style: solid;
            border-width: 4px 6px 4px 0;
            border-color: transparent $white transparent transparent;
            top: 50%;
            right: -5px;
            transform: translate(0, -50%) rotate(180deg);
        }
    }

    &:hover {
        span {
            width: 100px;
        }
    }
}

header {
    overflow: hidden;
    position: relative;
    height: 100vh;
.navbar-toggler{
    span{
        width: 35px;
        height: 3px;
        background-color: #fff;
        display: flex;
        margin: 8px 0;
    }
}
.navbar-collapse.show {
    align-items: center;
    width: 100%;
    background: $primary;
}
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $primary;
        opacity: 0.3;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        border-radius: 0;
        padding-top: 5px;
        padding-bottom: 5px;

        .call-btn {
            border-radius: 50%;
            border: 1px solid $white;
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
        }
    }

    .banner-section {
        position: relative;
        height: 100vh;

        .banner-icon {
            position: absolute;
            z-index: 5;
            transform: translate(0, -50%);
            top: 50%;
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: flex-end;

            ul {
                list-style: none;
                margin-bottom: 0;

                a {
                    color: $white;
                }
            }
        }

        .banner-text {
            position: absolute;
            left: 10%;
            top: 0;
            width: 100%;
            transform: translate(0, 20%);

            h1 {
                font-size: $size-1;
            }
        }
    }
}

.banner-text-slider {
    transform: translate(0, 32%);
    bottom: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.swiper-container {
    width: auto;
    height: 100vh;
}

.arrow {
    position: absolute;
    top: 55%;
    z-index: 9;

    span {
        width: 40px;
        height: 40px;
        position: relative;
        border: 1px solid #fff;
        display: inline-flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    i {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: $white;
        display: inline-flex;
        transition: 0.4s ease;
        margin: 0 auto;
        transition: 0.4s ease;

        &::before {
            content: "";
            width: 0px;
            position: absolute;
            height: 0px;
            border-style: solid;
            border-width: 4px 6px 4px 0;
            border-color: transparent $white transparent transparent;
            top: 50%;
            right: -3px;
            transform: translate(0, -50%) rotate(180deg);
        }
    }

    &.swiper-button-p {
        left: 4%;

        i {
            right: -15px;

            &::before {
                content: "";
                width: 0px;
                position: absolute;
                height: 0px;
                border-style: solid;
                border-width: 4px 6px 4px 0;
                border-color: transparent $white transparent transparent;
                top: 50%;
                left: -3px;
                transform: translate(0, -50%) rotate(0deg);
            }
        }

        &:hover {
            i {
                right: 0px;
            }
        }
    }

    &.swiper-button-n {
        right: 4%;

        i {
            left: -15px;
        }

        &:hover {
            i {
                left: 0px;
            }
        }
    }
}
.padding-bottom {
    padding-bottom: 80px;
}
.section-padding {
    padding-top: 80px;

    &.step-section {
        background-color: $dark;
    }

    &.about-section {
        background-image: url(/assets/top.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    &.discount-section {
        background-image: url(/assets/military-discount/background.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &.testimonial-section {
        background-image: url(/assets/testimonials.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.heading-section {
    margin-bottom: 40px;

    .title {
        color: $primary;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        .title-t {
            font-size: 20px;
            color: $dark;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    p {
        font-size: 16px;
        color: $dark;
        font-weight: 500;
    }
}

.step-box-container {
    padding-top: 50px;

    .step-box {
        position: relative;
        z-index: 1;
        padding: 0 15px;

        span {
            position: absolute;
            font-size: 130px;
            color: #666666;
            top: 9px;
            left: 5px;
            display: inline-flex;
            font-weight: 800;
            z-index: -1;
            line-height: 0;
        }

        .title {
            color: $white;
            font-size: 25px;
            font-weight: 600;
            padding: 0px 0 20px 15px;
        }
    }
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
.list-style {
    li {
        font-size: 20px;
        color: $primary;
        padding: 15px 0;
        margin: 10px 0;
        transition: 0.6s ease;
        border: 5px solid $white;
        cursor: pointer;
        &:hover {
            border: 5px solid $primary;
            font-weight: 600;
            color: $dark;
            box-shadow: 0 0 7px 0px $primary;
        }
    }
}
#service-slider {
    position: relative;
    padding-top: 80px;
    .box-container {
        .text-box {
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 0 30px;
            flex-direction: column;
            .title {
                font-size: 25px;
                font-weight: 700;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .owl-nav {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 58.4%;
        transform: translate(-50%, 0%);
        button {
            width: 30px;
            height: 30px;
            background-color: $primary;
            color: #fff;
            opacity: 1;
            border-radius: 0;
            margin: 1px 10px;
        }
    }
}
.owl-theme .owl-nav {
    margin-top: 0;
}

.img-box {
    position: relative;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    .img-text {
        position: absolute;
        background-color: #1111117a;
        top: 150%;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        transition: 0.6s ease-in-out;
    }
    &:hover {
        .img-text {
            top: 0;
        }
    }
}
.pricing-container {
    font-size: 16px;
    border: 5px solid $white;
    outline: 1px solid #6676a23b;
    margin: 10px 2px;
    position: relative;
    transition: 0.6s ease;
    &:hover {
        border: 5px solid $primary;
    }

    .price {
        font-size: 30px;
        font-weight: bold;
        margin-top: -6px;
        background: $primary;
        color: $white;
        padding: 15px;
        display: inline-flex;
    }
    ul {
        li {
            padding-bottom: 10px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
#pricing {
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        button {
            width: 40px;
            height: 40px;
            background-color: $primary;
            color: $white;
            opacity: 1;
            border-radius: 0;
            &:focus {
                outline: none;
            }
            &.owl-prev {
                margin-left: -45px;
            }
            &.owl-next {
                margin-right: -45px;
            }
        }
    }
}
.testimonial-section {
    .owl-carousel .owl-item img {
        display: block;
        width: auto;
    }
    .owl-theme .owl-nav {
        margin-top: 0;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
        button {
            width: 40px;
            height: 40px;
            background-color: $primary;
            color: $white;
            opacity: 1;
            border-radius: 0;
            margin: 0;
            &:focus {
                outline: none;
            }
            &.owl-prev {
                margin-right: 50px;
            }
        }
    }
    .item {
        background-color: #f4f7ff;
        box-shadow: 5px 7px 13px 0px #0000001f;
        margin: 20px;
    }
    .testimonial-container {
        position: relative;
        z-index: 1;
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}
.blog-container {
    .card-img,
    .card-img-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .card {
        border-radius: 0;
        transition: 0.4s ease;
        border: 1px solid #00000018;
        &:hover {
            box-shadow: 5px 7px 13px 0px #0000001f;
        }
        .date {
            color: $gray;
        }
    }
}
.service-box {
    .col {
        border-right: 1px solid #6676a24a;
        &:last-child {
            border-right: 0;
        }
    }
}
.form-section {
    .form-control {
        border: 0;
        border-bottom: 2px solid #ced4da;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}
.footer-bg {
    background-image: url(/assets/footer-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $gray;
    font-weight: 500;
    p{
        margin-bottom: 0;
    }
    .newsletter {
        padding: 20px 35px;
        border: 1px solid #fff;
        margin: 40px 0;
        p {
            color: $gray;
            font-weight: 500;
        }
        .form-control {
            background-color: transparent;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .footer-icon,.footer-link {
        ul {
            display: inline-flex;
            li {
                padding: 0 10px;
                a{
                    color: $gray;
                    transition: 0.4s ease;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
    .footer-link{
        line-height: 0.9;
        li{
            border-right: 1px solid $gray;
            &:last-child{
                border-right: 0px solid $gray;   
            }
        }
    }
    .copyright{
        padding: 15px 0;
        border-top: 1px solid $gray;
    }
}
@media (max-width: 1199.98px) { 
    .navbar-brand {
        flex-grow: 1;
    }
    .navbar-toggler {
        text-decoration: none;
        order: 1;
    }
    div#navbarSupportedContent {
        position: absolute;
        top: 100%;
        left: 0;
    }
 }
 @media (max-width: 767.98px) { 
    .step-box-container .step-box {
        padding: 0;
        margin: 40px 0 0 0;
    }
    .step-box-container{
        .row{
            .col-md-4:first-child{
                .step-box{
                    margin: 0;
                }  
            }
        }
    }
    .section-padding {
        padding-top: 60px;
    }
    
    .padding-bottom {
        padding-bottom: 60px;
    }
    .list-style li {
        font-size: 18px;
        padding: 10px 0;
    }
    #service-slider .box-container .text-box {
        padding: 20px 20px;
    }
    #service-slider .owl-nav {
        bottom: -5%;
        left: 50%;
    }
    .heading-section .title {
        font-size: 30px;
    }
    .heading-section .title .title-t {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .navbar-brand {
       img{
           width: 150px;
       }
    }
    header .banner-section {
        position: relative;
        height: 100%;
    }
    .swiper-container {
        width: auto;
        height: 100%;
    }
    header {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
    .banner-text-slider {
        top: 0;
    }
 }